
<div class="container">
  <div class="col-lg-6">
    <label for=""><h5>Existing stylists and thier clients</h5></label>
    <div class="well">

    </div>
  </div>
  <div class="col-lg-3">
    <label for=""><h5>Add Stylist</h5></label>
    <div class="well">
      <form class="" action="/add_stylist" method="post">

      </form>
    </div>
  </div>
  <div class="col-lg-3">
    <label for=""><h5>Add Client</h5></label>
    <div class="well">
      <form class="" action="/add_client" method="post">

      </form>
    </div>
  </div>
</div>
